<script>
 form[formGroup]="form" (ngSubmit)="onEnviar($event)"
    
    event.preventDefault;
    if (this.form.valid){

    }else{
        this.form.markAllAsTouched();
    }

</script>
<form>
    <div>
        <label for="email">Usuario:</label>
        <input type="email" formControlName="mail">
    </div>
    <br />
    <div>
        <label for="exampleInputPassword" class="form-label">Password</label>
        <input type="password" formControlName="password">
    </div>
    <br />
    <div>
        <button type="submit">Iniciar Sesión</button>
    </div>    
</form>

<!--
<div login()> 
<a routerLink="/" routerLinkActive="active">Inicio</a>
<a routerLink="profile" routerLinkActive="active" *ngIf="authService.login">Perfil</a>
<a routerLink="login" routerLinkActive="active" *ngIf="!authService.login">Login</a>
<a class="nav-link" (click)="logout()" href="#" *ngIf="authService.login">Logout</a>

</div>
-->