#foto{
        width: 150px;
        height: 150px;
        position: relative;
        border: 1px solid;
        border-radius: 50%;
        margin-top: -11%;
}

.nombre {

        text-align: left;
        display: flex;
        border-bottom-color:gray ;
        border-bottom-style: none;
        border-width: 5px 10px;
        border-style: inset;
        }